{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>view stuff</h1>
        {% include 'view/_skill-tree.html.twig' %}
    </div>
{% endblock %}

{#                    <canvas id="myChart" width="200" height="200"></canvas>#}
