{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="card-title"> Your skilltree</h1>
        {% include 'profile/_tree.html.twig' %}
    </div>
{% endblock %}