{% extends 'base.html.twig' %}

{% block body_container %}
        <div class="jumbotron">
            <h1 class="display-4">Moin, etribes!</h1>
            <p class="lead">Skillmatrix Mvp V1.0.0</p>
            <hr class="my-4">
            {% if wrongEmailDomain %}
                <p class="alert alert-info">You are logged in with a non etribes account, please change account</p>
                <a href="{{ path('index_logout') }}" class="btn btn-primary btn-lg" role="button">Logout</a>
            {% else %}
                <p>Simply login with your google account.</p>
                <a href="{{ path('index_login') }}" class="btn btn-primary btn-lg" role="button">Login</a>
            {% endif %}
    </div>
{% endblock %}