<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item {% if entry is not defined %}active{% endif %}" aria-current="page">
                <a href="{{ path('question_index') }}">Questions</a>
            </li>
            {% if entry is defined %}
                <li class="breadcrumb-item active" aria-current="page">{{ entry }}</li>
            {% endif %}
        </ol>
    </nav>
</div>