{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    {% include 'content/question/_breadcrumb.html.twig' with {entry: 'new'} %}

    <div class="container">

        <h1>Create new Question</h1>

        {{ include('content/question/_form.html.twig') }}

        <a href="{{ path('question_index') }}">back to list</a>
    </div>
{% endblock %}
